<% if @is_search %>
<h1>Listing articles Mark Holton posted containing: <b style="color:green;">'<%= params[:q] %>'</b></h1>
<% else %>
<h4>articles Mark Holton found interesting</h4>
<% end %>

<div id="blog_post">  
  <% @articles.each do |article| %>
    <h2 class="articles">
      <a target="_blank" href="<%= article.url %>"><%= article.title %></a>
      <span>printed:<i><%= distance_of_time_in_words(article.printed_date, Time.now) %> ago</i></span>
    </h2>
    <p class="article">
      <%= article.content.html_safe %> 
      <a class="continue" target="_blank" href="<%= article.url %>">...continue reading</a>
    </p>
    <hr>
  <% end %>
  
</div>
