<div id="centercol">
  <div class="wrap latest">
	  <h2>LATEST BLOG ENTRY</h2>
	  <div>
	    <%= link_to "SUBSCRIBE", "/posts.atom", :format => :atom %> <%# class rss %>
	  </div>
  </div>
  
  <div class="box post">
	  <div class="comment">
	    <a href="/posts/<%= @posts.first.id %>" title="Comment on this post">
	      <%= @posts.first.comments.length %>
	    </a>
	  </div>
	  <h3><%= link_to @posts.first.title, post_path(@posts.first.to_param), :rel => "bookmark" %></h3>
    
	  <div class="date">
	    <%= distance_of_time_in_words(@posts.first.created_at, Time.now) %> ago
	  </div>
	  <div class="hl"></div>
    <div class="entry">
      <%= @posts.first.content.html_safe %>
    </div><!-- /entry -->  
  </div><!--/box-->
  
<div class="wrap prev-entries">
	<h2>PREVIOUS ENTRIES</h2>
</div>

<div id="posts">
  <% i = 0 %>
  <% @posts.each do |post| %>
    <% if i > 0 %>
      <div class="headline post" id="post_<%= post.id %>">
        <h3><%= link_to post.title, post_path(post.to_param) %></h3>
        <div class="comment">
          <a href="/posts/<%= post.to_param %>" title="<%= post.title %>"><%= post.comments.length %></a>
        </div>
        <div class="date"><%= distance_of_time_in_words(post.created_at, Time.now) %> ago</div>
      </div> <!--/ .headline -->
    <% end %>
    <% i += 1%>
  <% end %>
</div> <!-- /div#posts -->
<div id="spinner"><%= image_tag("spinner.gif") %> loading...</div>
            
<div class="ar"><a href="/posts/">READ MORE IN THE ARCHIVES</a></div>    
</div> <!--/centercol -->

<script type="text/javascript">
  $('#posts').infiniScroll('pollScroll');
</script>